img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover effects */
}

img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.small-caps {
    font-variant: small-caps;
}

